---
import Layout from '~/layouts/Layout.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'

import { Site } from '~/data/config'
const title = Site.title
---

<Layout {title}>
  <main>
    <figure class="w-col w-col-6 w-col-stack">
      <div class="image"></div>
    </figure>
    <div class="rightcontent w-col w-col-6 w-col-stack">
      <div class="content">
        <Header {title} />
        <div class="links w-row">
          <div class="column w-col w-col-4">
            <div class="text-block-2">Connect</div>
            <ul role="list">
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Email</a>
              </li>
              <li>
                <a href="#">Newsletter</a>
              </li>
            </ul>
          </div>
          <div class="column-2 w-col w-col-4">
            <div class="text-block-2">social</div>
            <ul role="list">
              <li>
                <a href="#">Twitter</a>
              </li>
              <li>
                <a href="#">Instagram</a>
              </li>
              <li>
                <a href="#">Dribbble</a>
              </li>
            </ul>
          </div>
          <div class="w-col w-col-4">
            <div class="text-block-2">network</div>
            <ul role="list">
              <li>
                <a href="#">Link One</a>
              </li>
              <li>
                <a href="#">Link Two</a>
              </li>
              <li>
                <a href="#">Link Three</a>
              </li>
            </ul>
          </div>
        </div>
        <Footer />
      </div>
    </div>
  </main>
</Layout>

<style>
  .image {
    @media (--motionOK) {
      animation: var(--animation-fade-in) forwards;
      transition: all .25s linear;
    }
  }
  .rightcontent {
    align-items: flex-start;
    align-self: center;
    background-image: var(--gradient-9);
    display: flex;
    place-items: center;
    height: 100vh;
    justify-content: center;
    overflow: auto;
    padding: 120px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

    @media (--OSdark) {
      background-image: var(--gradient-23);
    }

    @media (--motionOK) {
      animation: var(--animation-fade-in);
    }
  }
  .text-block-2 {
    margin-bottom: 20px;
    color: #485462;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  ul[role='list'] {
    font-family: Lora, sans-serif;
    color: #848d96;
    font-size: 16px;
    line-height: 160%;
  }
  .credit {
    color: #485462;
    font-size: 13px;
  }
  .content {
    overflow: auto;
  }
  .links {
    display: flex;
    min-width: 100%;
    margin-bottom: 40px;
    flex: 0 auto;
  }
  .credit-links {
    color: #485462;
  }
  .image {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: block;
    min-height: 100vh;
    min-width: 100%;
    align-self: flex-start;
    flex: 0 auto;
    background-image: url(/images/split.webp);
    background-position: 50% 50%;
    background-size: cover;
    object-fit: cover;
  }
  @media screen and (max-width: 991px) {
    .rightcontent {
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .links {
      display: flex;
      flex-direction: column;
    }
    .column {
      margin-bottom: 20px;
    }
    .column-2 {
      margin-bottom: 20px;
    }
    .credit-links {
      color: #485462;
    }
    .image {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: block;
      min-height: 100vh;
      min-width: 100%;
      align-self: flex-start;
      flex: 0 auto;
      background-image: url(/images/split.webp);
      background-position: 50% 50%;
      background-size: cover;
      object-fit: cover;
    }
  }
  @media screen and (max-width: 767px) {
    .rightcontent {
      padding: 60px;
    }
  }
  @media screen and (max-width: 479px) {
    .bold-text {
      font-size: 42px;
      line-height: 42px;
    }
    .credit {
      font-size: 12px;
    }
    .rightcontent {
      padding: 30px;
    }
    .image {
      height: 240px;
      max-height: 30vh;
    }
  }
</style>
