---
const currentYear = new Date().getFullYear()
---

<footer class="credit">
  <!-- Thanks for using Astro-Split. Please keep this line to support the project :) -->
  © {currentYear} Your Name &middot; <a href="https://astro-split.vercel.app" target="_blank" class="credit-links">Split Template</a> by <a href="https://advanced-astro.dev" target="_blank" class="credit-links">Advanced Astro</a> &middot; Photo by <a href="https://www.pexels.com/photo/portrait-of-woman-with-braided-hair-6151982/" target="_blank" class="credit-links">Gifty Dzenyo</a>
</footer>
