---
const currentYear = new Date().getFullYear()
---

<footer class="credit">
  © {currentYear} Your Name - <a href="https://github.com/advanced-astro/split" target="_blank" class="credit-links">Split Template</a> by <a href="https://advanced-astro.dev" target="_blank" class="credit-links">Advanced Astro</a> &middot; Photo by <a href="https://www.pexels.com/photo/portrait-of-woman-with-braided-hair-6151982/" target="_blank" class="credit-links">Gifty Dzenyo</a>
</footer>
