---
interface Props {
  title: string
}

const title = Astro.props.title
---

<div class="name">Imani Jones</div>
<h1 class="tagline">Designer. Stylist. Nomad.</h1>
<p class="bio">Donec at libero id lectus porta dapibus eu in nibh. Cras id mauris sapien. Fusce viverra <a href="#" class="bio-links">luctus urna</a> ac rutrum. Duis semper elit eu mi facilisis eleifend. Donec semper, <a href="#" class="bio-links">ipsum in</a> malesuada congue, <a href="#" class="bio-links">purus sem</a> ullamcorper massa, sit amet lacinia nibh enim sed massa. </p>

<style>
  .name {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media (--motionOK) {
      animation: var(--animation-fade-in) forwards;
    }
  }
  .tagline {
    margin-bottom: 40px;
    font-size: 58px;
    line-height: 100%;
    font-weight: 600;
  }
  .bio {
    margin-bottom: 40px;
    font-family: Lora, sans-serif;
    color: #848d96;
    font-size: 21px;
    line-height: 140%;
  }
  .bio-links {
    border-bottom: 1px solid #848d96;
    text-decoration: none;
  }
  @media screen and (max-width: 991px) {
    .bio-links {
      border-bottom: 1px solid #848d96;
      text-decoration: none;
    }
  }
  @media screen and (max-width: 767px) {
    .name {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    .name {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 479px) {
    .bio {
      font-size: 16px;
    }
  }
</style>
