---
import BaseHead from '~/components/BaseHead.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} />
    <style>
      @font-face {
        font-family: "Inter";
        font-display: swap;
        font-style: normal;
        src: url("/fonts/inter-subset.woff2") format("woff2");
      }
      @font-face {
        font-family: "Lora";
        font-display: swap;
        font-style: normal;
        src: url("/fonts/lora-subset.woff2") format("woff2");
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-text: hsl(12, 5%, 4%);
    --color-bg-dark: #13151a;
    --color-bg-light: hsl(10, 21%, 95%);
  }
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /* Remove default margin */
  body,
  main,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
    padding-left: 0;
  }
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  /* Set core body defaults */
  body {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
  }
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
</style>
